 /* CSS Document */

/*

Colors:

Light Logo Gray - #8B8C8C
Dark Logo Gray - #565959
Black Logo Gray - #0D0D0D
Inverted Black Logo Gray - #f2f2f2
Solor Logo Yellow - #F2E205
Solar Logo Gold - #F2A444
Solar Logo Brown - #BF6430



Font-Families:

font-family: 'Coda', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Space Grotesk', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@400;700&display=swap');

*, *:after {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: #0D0D0D;
	color: #F2A444;
}

h1 {
	font-family: 'Coda', cursive;
	text-shadow: 2px 2px 1px #0D0D0D;
	font-size: 5em;
	color: #f2f2f2;
}

h2 {
	font-family: 'Coda', cursive;
	font-size: 2em;
	padding-bottom: 1em;
}

blockquote {
	font-family: 'PT Sans', sans-serif;
	padding: 0.8em;
	font-size: 1.5em;
}

table {
	font-size: 1.4em;
	border: double;
	border-width: 4px;
	border-color: #BF6430;
	padding: 0.6em;
}

table tr {
	padding: 2em;
}

input {
	font-size: 1.1em;
	border-radius: 10px 0;
	background-color: #8B8C8C;
	margin: 0.5em 0;
}

.btn {
	border: solid;
	border-width: 2px;
	border-color: #F2A444;
	margin-left: .5em;
}

.btn:hover {
	border-color: #f2f2f2;
	background-color: #0D0D0D;
	color: #F2E205;
}

#navImage {
	display: inline-block;
	padding: 0 .5em;
	max-height: 5em;
	margin: 0;
	float: left;
	border: none;
}

nav {
	list-style-type: none;
	background-color: #565959;
	height: 5em;
	padding-left: .9em;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1.6em;
	padding: .9em;
	display: inline-block;
}

nav ul li a:link {
	color: #F2E205;
	text-shadow: 2px 2px 0 #0D0D0D;
	text-decoration: none;
}

nav ul li a:hover {
	color: #f2f2f2;
	text-shadow: 2px 2px 0 #0D0D0D;
	text-decoration: none;
}

nav ul li a:active {
	color: #F2E205;
	text-shadow: 2px 2px 0 #f2f2f2;
	text-decoration: none;
}

nav ul li a:visited {
	color: #F2A444;
	text-shadow: 2px 2px 0 #0D0D0D;
	text-decoration: none;
}

header {
	padding: 2em;
	background-image: url("../images/tarantulaNebula.png");
	background-size: cover;
	min-height: 300px;
}

main {
	padding: 3em;
	font-family: 'PT Sans', sans-serif;
	min-height: 600px;
}

img {
	float: left;
	display: block;
	border: ridge;
	margin: 1.6em;
	border-width: 5px;
	border-color: #F2A444;
	max-width: 27%;
}

main p {
	margin: 1em;
	font-size: 1.3em;
}

main ul {
	list-style-type: none;
	margin: 2em;
	font-size: 1.3em;
	padding: 1em;
}

main ul li:before {
	content: '\2014';
	position: absolute;
	margin-left: -20px;
}

main a {
	color: #f2f2f2;
}

#footNav {
	text-align: center;
}

footer {
	padding: 3em;
}

footer p {
	text-align: center;
	font-size: .9em
}

footer a:link {
	color: #F2E205;
}

footer a:hover {
	color: #f2f2f2;
}

footer a:active {
	color: #F2E205;
	background-color: #f2f2f2;
}

footer a:visited {
	color: #8B8C8C;
}

#fairUse {
	padding: 1em;
}
